In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import numpy as np

### Read in Constructor Results CSV

In [2]:
csv_file = "/Users/kscomputer/Desktop/Formula_ETL/Formula1ETLProject/Resources/constructorResults.csv"
constructorResults_df = pd.read_csv(csv_file)
constructorResults_df.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0    NaN
1                     2      18              2     8.0    NaN
2                     3      18              3     9.0    NaN
3                     4      18              4     5.0    NaN
4                     5      18              5     2.0    NaN

##### see if any values in status and drop if nothing

In [3]:
constructorResults_df['status'].value_counts()

D    17
Name: status, dtype: int64

In [4]:
constructorResults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11142 entries, 0 to 11141
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  11142 non-null  int64
 1   raceId                11142 non-null  int64
 2   constructorId         11142 non-null  int64
 3   points                11142 non-null  float64
 4   status                17 non-null     object
dtypes: float64(1), int64(3), object(1)
memory usage: 435.4+ KB

#### removing status column.  CSV came from API and no documentation as to what D means.

In [5]:
constructorResults_df=constructorResults_df[['constructorResultsId','raceId','constructorId','points']].copy()

In [6]:
constructorResults_df.head()

   constructorResultsId  raceId  constructorId  points
0                     1      18              1    14.0
1                     2      18              2     8.0
2                     3      18              3     9.0
3                     4      18              4     5.0
4                     5      18              5     2.0

### Read in Constructors.csv

In [7]:
csv_file2 = "/Users/kscomputer/Desktop/Formula_ETL/Formula1ETLProject/Resources/constructors.csv"
constructor_df = pd.read_csv(csv_file2)
constructor_df.head()

,constructorId,constructorRef,name,nationality,url,Unnamed: 5
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,NaN
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,NaN
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,NaN
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,NaN
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,NaN

##### see if any values in unnamed: 5 and drop if nothing

In [8]:
constructor_df['Unnamed: 5'].unique()

array([nan])

In [9]:
constructor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   208 non-null    int64
 1   constructorRef  208 non-null    object
 2   name            208 non-null    object
 3   nationality     208 non-null    object
 4   url             208 non-null    object
 5   Unnamed: 5      0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 9.9+ KB

##### drop unnamed: 5 because only nan values

In [10]:
constructor_df=constructor_df[['constructorId','constructorRef','name','nationality','url']].copy()

In [11]:
constructor_df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

### Read in Constructor Standings.csv

In [12]:
csv_file3 = "/Users/kscomputer/Desktop/Formula_ETL/Formula1ETLProject/Resources/constructorStandings.csv"
constructorstanding_df = pd.read_csv(csv_file3)
constructorstanding_df.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,Unnamed: 7
0,1,18,1,14.0,1,1,1,NaN
1,2,18,2,8.0,3,3,0,NaN
2,3,18,3,9.0,2,2,0,NaN
3,4,18,4,5.0,4,4,0,NaN
4,5,18,5,2.0,5,5,0,NaN

##### see if any values in unnamed: 7 and drop if nothing

In [13]:
constructorstanding_df['Unnamed: 7'].unique()

array([nan])

##### drop unnamed: 7 because only nan values

In [14]:
constructorstanding_df=constructorstanding_df[['constructorStandingsId','raceId','constructorId','points','position','positionText','wins']].copy()

In [15]:
constructorstanding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11896 entries, 0 to 11895
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  11896 non-null  int64
 1   raceId                  11896 non-null  int64
 2   constructorId           11896 non-null  int64
 3   points                  11896 non-null  float64
 4   position                11896 non-null  int64
 5   positionText            11896 non-null  object
 6   wins                    11896 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 650.7+ KB

In [16]:
constructorstanding_df=constructorstanding_df.rename(columns={'raceId':'raceID'})

In [17]:
constructorstanding_df.head()

,constructorStandingsId,raceID,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

### Read in races.csv

In [18]:
csv_file4 = "/Users/kscomputer/Desktop/Formula_ETL/Formula1ETLProject/Resources/races.csv"
races_df = pd.read_csv(csv_file4)
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [19]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     997 non-null    int64
 1   year       997 non-null    int64
 2   round      997 non-null    int64
 3   circuitId  997 non-null    int64
 4   name       997 non-null    object
 5   date       997 non-null    object
 6   time       266 non-null    object
 7   url        997 non-null    object
dtypes: int64(4), object(4)
memory usage: 62.4+ KB

#### fill na values in races_df time column

In [20]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     997 non-null    int64
 1   year       997 non-null    int64
 2   round      997 non-null    int64
 3   circuitId  997 non-null    int64
 4   name       997 non-null    object
 5   date       997 non-null    object
 6   time       266 non-null    object
 7   url        997 non-null    object
dtypes: int64(4), object(4)
memory usage: 62.4+ KB

In [21]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

#### connect to local databases (INSERT PASSWORD IN RDS STRING)

In [22]:
rds_connection_string = f"postgres:INSERTPASSWORD HERE @localhost:5432/Formula1"
engine = create_engine(f'postgresql://{rds_connection_string}')

#### check for tables

In [23]:
engine.table_names()

['Constructor', 'ConstructorStandings', 'Race', 'ConstructorResults']

In [24]:
races_df.to_sql(name='Race', con=engine, if_exists='append', index=False)

In [25]:
constructor_df.to_sql(name='Constructor', con=engine, if_exists='append', index=False)

In [26]:
constructorResults_df.to_sql(name='ConstructorResults', con=engine, if_exists='append', index=False)

In [27]:
constructorstanding_df.to_sql(name='ConstructorStandings', con=engine, if_exists='append', index=False)

In [32]:
pd.read_sql_query('select * from "ConstructorResults"', con=engine).head()

   constructorResultsId  raceId  constructorId  points
0                     1      18              1      14
1                     2      18              2       8
2                     3      18              3       9
3                     4      18              4       5
4                     5      18              5       2

In [33]:
pd.read_sql_query('select * from "Constructor"', con=engine).head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [34]:
pd.read_sql_query('select * from "Race"', con=engine).head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...